
  
body {
    text-align: center;
    background: #457b9d;
    background-position: center;
    background-attachment: fixed;
    background-size: 140%;
    margin-top: 80px;
}

main {
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    border-radius: 70px;
    padding: 25px;
    width: 365px;
}

em {
    font-style: italic;
}


.profilePhoto {
    border-radius: 100px;
    background:aqua;  
    margin: 10px;
    padding: 2px;
    width: 150px;
}

.name {
    color: aquamarine;
    font-size: 22px;
    font-weight: bold;
}

.contactTitle {
    color: aquamarine;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.contactList {
    
    color: white;
    margin-top: 5px;
    margin-right: 35px;
    font-size: 13px;
    line-height: 15px;
    text-align: 100px
}

.link {
    color: aqua;
}

.presentation {
    color: white;
    display: inline-block;
    
}



ul {
    list-style: none
  }
